.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  padding: 10px;
  transition: transform 0.3s ease, backdrop-filter 0.3s ease;
  z-index: 1000;
  transform: translateY(100%);
  border-top: solid 1px #333;
}

.footer.visible {
  transform: translateY(0);
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  color: #4493F8;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.scroll-to-top {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0;
  margin-left: 10px;
}

.scroll-to-top svg {
  width: 24px;
  height: 24px;
  transition: 0.5s transform ease; 
  display: flex;
  justify-content: right;
  align-items: right;
}

.scroll-to-top svg:hover {
  width: 24px;
  height: 24px;
  transform: translateY(-6px);
}

@media (max-width: 600px) {
  .footer {
    padding: 5px;
  }

  .footer-content {
    flex-direction: column;
  }

  .scroll-to-top {
    margin-left: 0;
    margin-top: 5px;
  }
}

body.light-mode .footer {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  border-top: solid 1px #ccc;
}

body.light-mode .footer a {
  color: #0066cc;
}

body.light-mode .scroll-to-top {
  color: black;
}