.readme {
    padding: 20px;
    color: white;
    border-radius: 10px;
    margin: 20px;
    opacity: 0;
    transform: translateX(100%);
    transition: transform 1s, opacity 1s;
    margin-bottom: 40px;
    text-align: center;
}

.readme.visible {
    opacity: 1;
    transform: translateX(0);
}

.readme h1, .readme h2, .readme h3 {
    color: #8ebcf8c8;
}

.readme ul {
    list-style-type: none;
    padding: 0;
}

.readme ul li {
    margin: 10px 0;
}

.readme a {
    color: #4493F8;
    text-decoration: none;
}

.readme a:hover {
    text-decoration: underline;
}

.readme img {
    margin: 5px;
}

@media (max-width: 600px) {
    .readme {
        padding: 10px;
        margin: 10px;
    }

    .readme h1, .readme h2, .readme h3 {
        font-size: 1.2rem;
    }

    .readme ul li {
        margin: 5px 0;
    }
}

.channel {
    text-align: center;
    margin: 20px 0;
  }
  
  .channel img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 10px 0;
    transition: border-radius 0.3s ease;
  }

  .channel img:hover {
    border-radius: 8px;
    width: 150px;
    height: 150px;
    margin: 10px 0;
    transition: border-radius 0.3s ease;
  }


.channel a {
    display: block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

.channel a:hover {
    text-decoration: underline;
}

body.light-mode .readme {
    color: black;
    background-color: #f9f9f9;
}

body.light-mode .readme h1, body.light-mode .readme h2, body.light-mode .readme h3 {
    color: #333;
}

body.light-mode .readme a {
    color: #0066cc;
}