:root {
    background-color: black;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
  }
  
  .socials {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 60px; 
  }
  
  .socials-content {
    position: relative;
    padding: 20px 10px;
    z-index: 1;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .socials-content p {
    margin: 15px;
    margin-top: 80px;
    margin-bottom: 50px;
    color: #949494;
  }
  
  .cursor {
    display: inline-block;
    animation: blink 1s step-end infinite;
  }
  
  @keyframes blink {
    from, to {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  
  @media (max-width: 600px) {
    .socials-content {
      padding: 10px 5px;
    }
  
    .socials-content p {
      margin: 10px;
      margin-bottom: 30px;
    }
  }
  
  body.light-mode {
    background-color: white;
    color: black;
  }
  
  body.light-mode .socials-content {
    color: black;
  }
  
  body.light-mode .socials-content p {
    color: #333;
  }